subconverter.exe
.vscode
cmake-build-debug
.idea
base/cache
build
CMakeCache.txt
CMakeFiles
cmake_install.cmake
subconverter
Makefile

build_root/
deps_install/
venv/
subconverter_macos/
scripts/yaml-cpp/
scripts/quickjspp/
scripts/libcron/
scripts/toml11/
